## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [12]:
data = {'國家':["台灣","日本","新加坡","韓國"],
        '人口':[20000000,30000000,40000000,50000000]}
df = pd.DataFrame(data)

In [11]:
# 檢視原始資料
data

{'國家': ['台灣', '日本', '新加坡', '韓國'],
 '人口': [20000000, 30000000, 40000000, 50000000]}

In [13]:
# 轉換dataframe之後
df

    國家        人口
0   台灣  20000000
1   日本  30000000
2  新加坡  40000000
3   韓國  50000000

In [14]:
# 求人口最多的國家
df.loc[(df['人口']==df['人口'].max()),:]

   國家        人口
3  韓國  50000000