In [1]:
import os
import numpy as np
import pandas as pd

In [15]:
# 設定 data_path, 並讀取 app_train
dir_data = 'C:/Users/sammi/Desktop/dataset'
f_app_train = os.path.join(dir_data, 'BlackFriday.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [18]:
# 觀察欄位名稱
app_train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [19]:
# 觀察欄位數量
app_train.shape

(537577, 12)

In [20]:
# 檢視資料中各個欄位類型的數量
app_train.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

In [21]:
# 每個欄位資料型態
app_train.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

#### 資料型別無序>One Hot encoding。ex:product_Id/Gender/City_Category/Stay_In_Current_City_Years
#### 資料型別有序>Lebel encoding。ex:Age

In [29]:
# 觀察欄位有幾種類別
app_train['Product_ID'].unique().size

3623

In [30]:
# 取小部分出來轉換練習
sub_train = pd.DataFrame(app_train['Product_ID'])
print(sub_train.shape)
sub_train.head()

(537577, 1)

  Product_ID
0  P00069042
1  P00248942
2  P00087842
3  P00085442
4  P00285442

### ▼ One Hot encoding 只要下面這一行指令

In [31]:
sub_train = pd.get_dummies(sub_train)

In [32]:
# 可以看到每個類別都新增一個欄位
sub_train.head()

,Product_ID_P00000142,Product_ID_P00000242,Product_ID_P00000342,Product_ID_P00000442,Product_ID_P00000542,Product_ID_P00000642,Product_ID_P00000742,Product_ID_P00000842,Product_ID_P00000942,Product_ID_P00001042,...,Product_ID_P0098942,Product_ID_P0099042,Product_ID_P0099142,Product_ID_P0099242,Product_ID_P0099342,Product_ID_P0099442,Product_ID_P0099642,Product_ID_P0099742,Product_ID_P0099842,Product_ID_P0099942
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
sub_train.shape

(537577, 3623)

In [36]:
sub_train.dtypes

Product_ID_P00000142    uint8
Product_ID_P00000242    uint8
Product_ID_P00000342    uint8
Product_ID_P00000442    uint8
Product_ID_P00000542    uint8
Product_ID_P00000642    uint8
Product_ID_P00000742    uint8
Product_ID_P00000842    uint8
Product_ID_P00000942    uint8
Product_ID_P00001042    uint8
Product_ID_P00001142    uint8
Product_ID_P00001242    uint8
Product_ID_P00001342    uint8
Product_ID_P00001442    uint8
Product_ID_P00001542    uint8
Product_ID_P00001642    uint8
Product_ID_P00001742    uint8
Product_ID_P00001842    uint8
Product_ID_P00001942    uint8
Product_ID_P00002042    uint8
Product_ID_P00002142    uint8
Product_ID_P00002242    uint8
Product_ID_P00002342    uint8
Product_ID_P00002442    uint8
Product_ID_P00002542    uint8
Product_ID_P00002642    uint8
Product_ID_P00002742    uint8
Product_ID_P00002842    uint8
Product_ID_P00002942    uint8
Product_ID_P00003042    uint8
                        ...
Product_ID_P0096942     uint8
Product_ID_P0097042     uint8
Product_ID_P0097142     uint8
Product_ID_P0097242     uint8
Product_ID_P0097342     uint8
Product_ID_P0097442     uint8
Product_ID_P0097542     uint8
Product_ID_P0097642     uint8
Product_ID_P0097742     uint8
Product_ID_P0097842     uint8
Product_ID_P0097942     uint8
Product_ID_P0098042     uint8
Product_ID_P0098142     uint8
Product_ID_P0098242     uint8
Product_ID_P0098342     uint8
Product_ID_P0098442     uint8
Product_ID_P0098542     uint8
Product_ID_P0098642     uint8
Product_ID_P0098742     uint8
Product_ID_P0098842     uint8
Product_ID_P0098942     uint8
Product_ID_P0099042     uint8
Product_ID_P0099142     uint8
Product_ID_P0099242     uint8
Product_ID_P0099342     uint8
Product_ID_P0099442     uint8
Product_ID_P0099642     uint8
Product_ID_P0099742     uint8
Product_ID_P0099842     uint8
Product_ID_P0099942     uint8
Length: 3623, dtype: object